{% extends "base.html" %}
{% block corpo %}

    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                Erro 401: non está rexistrado. Será redirixido nuns intres.
            </div>
        </div>
    </div>

    <script>
        function redireccionarPagina() {
            window.location = "/";
        }
        setTimeout("redireccionarPagina()", 10000);
    </script>

{% endblock %}