{% extends "bootstrap_base.html" %}

{% block titulo %}
  App de MVL
{% endblock %}

{% block contido %}

    <div class="container">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    
                    {% if session.user %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/proba/">Proba</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/hipoteca/">Calcular hipoteca</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/pdf/hipotecas.pdf" target="_blank">Como se calcula unha hipoteca?</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/hipotecas/ver/">Ver hipotecas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#">{{ session.user }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/logout/">Cerrar sesión</a>
                        </li>
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link active" href="/login/">Iniciar sesión</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/signin/">Rexistro</a>
                        </li>
                        
                    {% endif %}

                </ul>
            </div>
        </nav>

        <div>{% block corpo %}{% endblock %}</div>
    

        <footer>
            <div class="d-flex justify-content-center">
                <p>
                    © 2022 Copyright: Manuel Ramón Varela López
                    <img src="/img/logo.png" alt="Logo" width="100" height="50">
                </p>
            </div>

        </footer>
    
    </div>

{% endblock %}
