<!doctype html>

<html lang="es">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS de BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Aqui podemos engadir máis follas de estilo para todas as páxinas-->

    <!-- Neste bloque podemos engadir follas de estilo para cada páxina individual -->
    {% block estilos %}{% endblock %}

    <!-- Podemos modificar o título en cada páxina se asi o desexamos-->
    <title>{% block titulo %}{% endblock %}</title>
  </head>
  
  <body>

    {% block contido %}{% endblock %}

    <!-- JavaScritp Bootstrap Bundle e Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Aqui podemos engadir máis scripts de JavaScript para todas as páxinas-->

    <!-- Neste bloque podemos engadir scripts de JavaScript para cada páxina individual -->
    {% block scripts %}{% endblock %}

  </body>
</html>