{% extends "base.html" %}

{% block corpo %}

    <div class="row">
        <div class="col">
            <form action={{url_for("hipoteca")}} method="post" enctype="multipart/form-data">
            
                <div class="mb-3">
                  <label for="cantidade" class="form-label">Cantidade do pŕetamo da hipoteca</label>
                  <input type="text" class="form-control" id="cantidade" name="cantidade">
                </div>
    
                <div class="mb-3">
                    <label for="interes" class="form-label">Inteŕes anual</label>
                    <input type="text" class="form-control" id="interes" name="interes">
                </div>
    
                <div class="mb-3">
                    <label for="anos" class="form-label">Número de anos</label>
                    <input type="text" class="form-control" id="anos" name="anos">
                </div>

                <div class="mb-3">
                    <label for="ficheiro" class="form-label">Imaxe da vivenda</label>
                    <input class="form-control" type="file" id="ficheiro" name="ficheiro" accept="image/*">
                  </div>
                
                <button type="submit" class="btn btn-primary">Enviar</button>

            </form>
        </div>
    </div>

    {% endblock %}