{% extends "base.html" %}
{% block corpo %}

    <div class="row">
        <div class="col">
            <form action={{url_for("rexistro")}} method="post">

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome">
                  </div>
            
                <div class="mb-3">
                  <label for="usuario" class="form-label">Usuario</label>
                  <input type="text" class="form-control" id="usuario" name="usuario">
                </div>
    
                <div class="mb-3">
                    <label for="contrasinal" class="form-label">Contrasinal</label>
                    <input type="password" class="form-control" id="contrasinal" name="contrasinal">
                </div>
                
                <button type="submit" class="btn btn-primary">Rexistrarse</button>

            </form>
        </div>
    </div>
    {% if error %}
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                Produciuse un erro no intento de rexistro.
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}