{% extends "base.html" %}

{% block corpo %}

    <div class="alert alert-primary" role="alert">
        A conta mensual para un préstamo de {{ "%.2f"|format(hipoteca.cantidade) }} € a {{hipoteca.anos}} anos cun interese anual do {{ "%.2f"|format(hipoteca.interes_anual) }} % son {{ "%.2f"|format(hipoteca.cota_mensual) }} €
    </div>
    <div class="d-flex justify-content-center">
        <img src="{{hipoteca.url_imaxe}}" alt="Imaxe vivenda" width="200" height="200">
    </div>

{% endblock %}