{% extends "base.html" %}
{% block corpo %}

    <div class="row">
        <div class="col">
            {% if hipotecas %}
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Cantidade do préstamo</th>
                          <th scope="col">Interese anual</th>
                          <th scope="col">Anos</th>
                          <th scope="col">Cota mensual</th>
                          <th scope="col">Imaxe da vivenda</th>
                        </tr>
                      </thead>
                    <tbody>
                        {% for hipoteca in hipotecas -%}
                        <tr>
                            <td>{{ "%.2f"|format(hipoteca.cantidade) }} €</td>
                            <td>{{ "%.2f"|format(hipoteca.interes_anual) }} %</td>
                            <td>{{hipoteca.anos}}</td>
                            <td>{{ "%.2f"|format(hipoteca.cota_mensual) }} €</td>
                            <td><img src="{{hipoteca.url_imaxe}}" alt="Imaxe vivenda" width="200" height="200"></td>
                        </tr>
                        {% endfor -%}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Non hai hipotecas gardadas.
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if hipotecas %}
                <form action={{url_for("eliminar_hipotecas")}} method="post">
                    <button type="submit" class="btn btn-primary">Eliminar hipotecas</button>
                </form>
            {% endif %}
        </div>
    </div>



{% endblock %}